/* Custom styling for the post form */
.page-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.post-form .form-group {
    margin-bottom: 15px;
}

.post-form .form-control {
    border-radius: 0.25rem;
    box-shadow: none;
}

.post-form .btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 0.25rem;
    padding: 10px 20px;
    font-size: 1rem;
}

.post-form .btn-primary:hover {
    background-color: #0056b3;
}

/* Additional styling for CKEditor */
.ck-editor__editable {
    min-height: 400px;
}

/* dropdown menu */
.dropdown-item {
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background-color 0.3s ease;
}

/* Category Image Styling */
.category-dropdown-image {
    width: 30px;  /* Adjust image size */
    height: 30px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 5px; /* Rounded image corners */
    border: 1px solid #ddd; /* Light border for better visibility */
    transition: transform 0.3s ease;
}

/* Hover Effect */
.dropdown-item:hover .category-dropdown-image {
    transform: scale(1.1); /* Slight zoom effect on hover */
}

/* Category Name Styling */
.category-name {
    font-weight: 500;
    color: #333; 
}
pre {
    background-color: #f5f5f5;
    padding: 10px;
    overflow-x: auto;
  }

#nprogress .bar {
    background: #29d; 
    height: 6px;
}

#nprogress .peg {
    box-shadow: 0 0 10px rgb(181, 221, 243), 0 0 5px #29d;
}
/* login form */
/* .divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
} */

